*{
	-fx-font-family: "Roboto"
}
 .title_bar{
	-fx-background-color: none;
	-fx-font-size: 25;
	-fx-font-weight: bold;
	-fx-padding: 0;
	-fx-spacing: 0;
}
 #min{
	-fx-text-fill: yellow;
	
}
 #max{
	-fx-text-fill: green;
}
 #close{
	-fx-text-fill: red;
}

#main{
    -fx-alignment: center ;
    -fx-padding: 10 ;
}